@model QuanLyKhachSan.Models.KhachHang

@{
    ViewData["Title"] = "Edit";
}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý /</span><span class="text-muted fw-light"> Khách hàng /</span> Sửa</h4>

<div class="card mb-4">
    <div class="card-body">
       <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MaKhachHang" />
        <div class="row">
          
            
            <div class="mb-3 col-md-6">
                <label class="form-label">Họ Và Tên</label>
                <input
                    class="form-control"
                    type="text"
                    id="hoten"
                    name="hoten"
                    asp-for="HoTen"
                />
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Ngày Sinh</label>
                    <input asp-for="NgaySinh" class="form-control" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Địa Chỉ</label>
                <input
                    class="form-control"
                    type="text"
                    id="diachi"
                    name="diachi"
                    asp-for="DiaChi"
                />
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Số Điện Thoại</label>
                <input
                    class="form-control"
                    type="text"
                    id="sdt"
                    name="sdt"
                    asp-for="Sdt"
                />
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">E-mail</label>
                <input
                    class="form-control"
                    type="text"
                    id="email"
                    name="email"
                    asp-for="Email"
                    placeholder="abc@example.com"
                />
            </div>
            
            </div>
            <div class="mt-2">
                <input type="submit" value="Lưu Thay Đổi" class="btn btn-primary me-2" />
                <a asp-action="Index" class="btn btn-outline-secondary">Trở Về</a>
            </div>
            </form>
            </div>
            </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
