
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Nhà Hàng Tiệc Cưới HW</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- fevicon -->
    <link rel="icon" href="~/img/favicon/logo.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <!-- end loader -->
    <!-- top -->
    <div class="full_bg">
        <!-- header inner -->
        <div class="top_section">
            <div class="container-fluid">
                <div class="row">
                    <div class=" col-md-2 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo_home">
                                    <a href="index.html"><img src="~/images/logo.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
        <!-- end header -->
        <div class="slider_main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <!-- carousel code -->
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <!-- first slide -->
                                <div class="carousel-item active">
                                    <div class="carousel-caption d-md-block cuplle">
                                        <h3 data-animation="animated bounceInLeft">
                                            Nhà Hàng
                                        </h3>
                                        <h3 data-animation="animated bounceInLeft">
                                            Tiệc Cưới & Sự Kiện
                                        </h3>
                                        <h3 data-animation="animated bounceInLeft">
                                            HW (Honey Wedding)
                                        </h3>
                                        <button class="btn btn-primary  read_more whitebg" data-animation="animated bounceInLeft">Liên Hệ</button>
                                    </div>
                                </div>
                                <!-- second slide -->
                                <div class="carousel-item">
                                    <div class="carousel-caption d-md-block cuplle">
                                        <h3 data-animation="animated bounceInLeft">
                                            Ấn Tượng
                                        </h3>
                                        <h3 data-animation="animated bounceInLeft">
                                            Trong Từng
                                        </h3>
                                        <h3 data-animation="animated bounceInLeft">
                                            Khoảnh Khắc
                                        </h3>
                                        <button class="btn btn-primary  read_more whitebg" data-animation="animated bounceInLeft">Liên Hệ</button>
                                    </div>
                                </div>
                                <!-- third slide -->
                                <div class="carousel-item">
                                    <div class="carousel-caption d-md-block cuplle">
                                        <h3 data-animation="animated bounceInLeft">
                                            Kiến Trúc Tân Cổ Điển
                                        </h3>
                                        <h3 data-animation="animated bounceInLeft">
                                            Dịch Vụ Thấu Hiểu
                                        </h3>
                                        <h3 data-animation="animated bounceInLeft">
                                            Ẩm Thực Đặc Sắc
                                        </h3>
                                        <button class="btn btn-primary  read_more whitebg" data-animation="animated bounceInLeft">Liên Hệ</button>
                                    </div>
                                </div>
                            </div>
                            <!-- controls -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end banner -->
    <div id="myHeader" class="header diki">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Trang Chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">Về Chúng Tôi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="couple.html">Dịch Vụ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="gallery.html">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Liên Hệ</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-2">
                    <div class="sealo">
                        <ul>

                            <a href="index.html"><img src="~/images/logo.png" alt="#" /></a>
                            <a class="navz" href=""> SĐT: 09069696969   </a>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Về Chúng Tôi</h2>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1">
                    <div class="about_img text_align_center">
                        <figure><img src="~/images/abzt.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2">
                    <div class="about_img text_align_center">
                        <p>
                            Chào mừng bạn đến với HW Wedding! HW là một trong những địa điểm tổ chức tiệc cưới hàng đầu tại Việt Nam. Với hơn 15 năm kinh nghiệm, chúng tôi tự hào mang đến cho các cặp đôi những trải nghiệm tiệc cưới tuyệt vời và đáng nhớ.
                            Với đội ngũ nhân viên chuyên nghiệp và tận tâm, chúng tôi luôn lắng nghe và đáp ứng mọi yêu cầu đặc biệt của khách hàng. Từ không gian thiết kế đẹp mắt đến các dịch vụ tiệc cưới chất lượng, chúng tôi cam kết mang đến một ngày
                            cưới trọn vẹn và đáng nhớ. Với sự tạo hóa sáng tạo và đa dạng phong cách, chúng tôi tạo ra các tiệc cưới độc đáo và phù hợp với cá nhân mỗi cặp đôi. Từ tiệc cưới truyền thống đến tiệc cưới hiện đại, chúng tôi mang đến những
                            trải nghiệm đáng nhớ cho mọi khách hàng. Hãy để chúng tôi làm cho ngày cưới của bạn trở thành một kỷ niệm vĩnh cửu. HW Wedding nơi thăng hoa của tình yêu và kỷ niệm đáng nhớ!
                            <a class="read_more" href="about.html">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- couple -->
    <div class="couple">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div class="titlepage text_align_left">
                        <span>Sự Đặc Sắc Của</span>
                        <h2>Dịch Vụ</h2>
                        <p>
                            Bản kế hoạch cưới của các cặp đôi sẽ trở nên dễ chịu và nhẹ nhàng hơn rất nhiều với sự đồng hành của HW Wedding. Bởi vì có đó sự phối xếp chuẩn xác của quá trình tư vấn-điều phối, đa dạng dịch vụ tiệc trọn gói với mức chi phí thấu
                            hiểu, khả năng nắm bắt những xu hướng mới nhất và sự bảo chứng được khẳng định từ thương hiệu. Sự tròn vẹn trong mọi khía cạnh tổ chức cưới đang chờ đợi các cặp đôi tại HW Wedding, hãy chọn cho mình một phong cách và chúng
                            tôi sẽ biến tiệc cưới trong mơ thành hiện thực.
                        </p>
                        <a class="read_more whitebg" href="couple.html">Xem Thêm</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="doi">
                        <img src="~/images/dichvu1.jpg" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- couple -->
    <!-- gallery -->
    <div class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Hình Ảnh</h2>
                    </div>
                </div>
            </div>
            <div class="tz-gallery">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 ma_bottom30">
                                <div class="lightbox">
                                    <img src="~/images/g1.jpg" alt="Bridge">
                                    <div class="view_main">
                                        <h3>Couple</h3>
                                        <a class="view_btn" href="images/g1.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 ma_bottom30">
                                <div class="lightbox">
                                    <img src="~/images/g4.jpg" alt="Bridge">
                                    <div class="view_main">
                                        <h3>Couple</h3>
                                        <a class="view_btn" href="images/g4.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 ma_bottom30">
                                <div class="lightbox">
                                    <img src="~/images/g2.jpg" alt="Bridge">
                                    <div class="view_main">
                                        <h3>Couple</h3>
                                        <a class="view_btn" href="~/images/g2.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 ma_bottom30">
                                <div class="lightbox">
                                    <img src="~/images/g5.jpg" alt="Bridge">
                                    <div class="view_main">
                                        <h3>Couple</h3>
                                        <a class="view_btn" href="~/images/g5.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 ma_bottom30">
                                <div class="lightbox">
                                    <img src="~/images/g3.jpg" alt="Bridge">
                                    <div class="view_main">
                                        <h3>Couple</h3>
                                        <a class="view_btn" href="~/images/g3.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 ma_bottom30">
                                <div class="lightbox">
                                    <img src="~/images/g6.jpg" alt="Bridge">
                                    <div class="view_main">
                                        <h3>Couple</h3>
                                        <a class="view_btn" href="~/images/g6.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="text_align_center">Tình yêu là một cuộc phiêu lưu và tất nhiên cuộc phiêu lưu nào cũng phải có đích đến, đích đến không phải là hôn nhân, mà là sự mãn nguyện trong tình yêu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end gallery -->
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container-fluid">
                <div class="row border_bo1 ">
                    <div class="col-md-8">
                        <a class="logof" href="index.html"><img src="~/images/logo.png" alt="#" /></a>
                    </div>
                    <div class="col-md-4">
                        <div class="infoma">
                            <h3>Liên Hệ</h3>
                            <ul class="conta">
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>45 Phan Đăng Lưu, Phường 3, Quận Bình Thạnh, TP.HCM
                                </li>
                                <li><i class="fa fa-volume-control-phone" aria-hidden="true"></i>+84 9069696969</li>
                                <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> honeywedding@gmail.com</a></li>
                            </ul>
                            <ul class="social_icon">
                                <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script type="text/javascript">
        baguetteBox.run('.tz-gallery');
    </script>
    <script type="text/javascript">
        window.onscroll = function () {
            myFunction()
        };

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
</body>

</html>