@model QuanLyKhachSan.Models.Phong

@{
    ViewData["Title"] = "Create";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý /</span><span class="text-muted fw-light"> Sảnh/</span> Thêm</h4>

<div class="card mb-4">
    <div class="card-body">
       <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
          <div class="mb-3 col-md-6">
                <label class="form-label">Tên Sảnh</label>
                <input asp-for="TenPhong" class="form-control" />
                <span asp-validation-for="TenPhong" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6"></div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Loại Sảnh</label>
                <select asp-for="MaLoaiPhong" class ="form-control" asp-items="ViewBag.MaLoaiPhong"></select>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Tình Trạng</label>
                <select asp-for="MaTinhTrang" class ="form-control" asp-items="ViewBag.MaTinhTrang"></select>
            </div>

        </div>
        <div class="mt-2">
            <input type="submit" value="Thêm" class="btn btn-primary me-2"/>
            <a asp-action="Index" class="btn btn-outline-secondary">Trở Về</a>
        </div>
      </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
