@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Website Quản Lý Tiệc Cưới</h1>
</div>

<div class="title">
    <h2>Thanh Toán Gần Đây</h2>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Khách Hàng</th>
            <th scope="col">Mã Sảnh</th>
            <th scope="col">Tổng Tiền</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Trần Đan Hân</td>
            <td>101</td>
            <td>170.000.000 VND</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Đinh Ngọc Hân</td>
            <td>101</td>
            <td>211.000.000 VND</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Phạm Văn Dũng</td>
            <td>101</td>
            <td>191.000.000 VND</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Tống Tài Phú</td>
            <td>101</td>
            <td>131.000.000 VND</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Nguyễn Thị Mỹ Diệu</td>
            <td>101</td>
            <td>212.000.000 VND</td>
        </tr>

    </tbody>
</table>
<h2>Khách Hàng Gần Đây</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Khách Hàng</th>
            <th scope="col">Mã Sảnh</th>
            <th scope="col">Tổng Tiền</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Trần Đan Hân</td>
            <td>101</td>
            <td>170.000.000 VND</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Nguyễn Thị Mỹ Diệu</td>
            <td>101</td>
            <td>211.000.000 VND</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Tống Tài Phú</td>
            <td>101</td>
            <td>191.000.000 VND</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Trần Minh Thư</td>
            <td>101</td>
            <td>131.000.000 VND</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Trần Thư Hân</td>
            <td>101</td>
            <td>212.000.000 VND</td>
        </tr>

    </tbody>
</table>
